- @title = 'Install Bitmask'
- @nav_title = 'Install'

.row.bm-front-buttons
  .col-sm-3.col-xs-6.text-center
    %a.btn.btn-default{:href=>"https://play.google.com/store/apps/details?id=se.leap.bitmaskclient"}
      %i.fa.fa-android.fa-4x
      %br
      %b Android
      %br
      %small Version 0.9.7
    %p
      %small
        %a{:href=>"android"}
          get .apk
  .col-sm-3.col-xs-6.text-center
    %a.btn.btn-default{:href=>"https://dl.bitmask.net/client/linux/stable/Bitmask-linux64-latest.tar.gz"}
      %i.fa.fa-linux.fa-4x
      %br
      %b GNU/Linux
      %br
      %small Version 0.10
    %p
      %small
        %a{:href=>"linux"}
          bundles, .deb
  .col-sm-3.col-xs-6.text-center
    %a.btn.btn-default{:href=>"https://dl.bitmask.net/client/osx/stable/Bitmask-OSX-latest.pkg"}
      %i.fa.fa-apple.fa-4x
      %br
      %b macOS
      %br
      %small Version 0.10
  .col-sm-3.col-xs-6.text-center
    %a.btn.btn-default.disabled{:href=>"windows"}
      %i.fa.fa-windows.fa-4x
      %br
      %b Windows
      %br
      %small Coming soon...

.row
  .col-sm-8.col-sm-offset-2
    .p.text-center
      = t :warning
      = t :warning_disabled

